#form {
  display: flex;
  flex-direction: column;
}

#form input {
  background-color: rgb(254, 116, 116);
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #fff;
  width: 300px;
  margin-bottom: 10px;
}

#form input::placeholder {
  color: #eee;
}

.feature-submit {
  width: 300px;
  background-color: rgb(241, 133, 133);
  font-size: 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #fff;
  border: none;
  padding: 10px 20px;
}

.feature-submit:hover {
  background: rgba(241, 133, 133, 0.4);
}